html {
 color-scheme: light dark;
 font-family: system-ui;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: auto;
}

mi-nav nav ul {
 display: flex;
 flex-wrap: wrap;
 padding: 0;
 gap: 0.5em;
 list-style-type: none
}